<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Cake Template">
    <meta name="keywords" content="Cake, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cake | Template</title>

    <!-- Google Font -->
    <link th:href="@{https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap}"
          rel="stylesheet">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap}"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/flaticon.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

    <style>

        @media screen and (min-width: 768px) {
            .modal:before {
                display: inline-block;
                vertical-align: middle;
                content: " ";
                height: 100%;
            }
        }

        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
            max-width: 900px
        }
    </style>

</head>

<body>
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>KIOSK</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <section class="shop spad">
                    <div class="container">
                        <div class="row">
                            <div th:each="dto : ${result.dtoList}" class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item" th:each="image : ${dto.imageDTOList}">
                                    <div class="product__item__pic set-bg" th:onclick="pick([[${dto}]])"
                                         th:data-setbg="|/view?fileName=${image.link}|">
                                        </th>
                                        <div class="product__label">
                                            <span>MENU</span>
                                        </div>
                                    </div>
                                    <div class="product__item__text">
                                        <h6><a href="#">[[${dto.name}]]</a></h6>
                                        <div class="product__item__price">[[${dto.price}]] ₩</div>
                                        <div class="cart_add">
                                            <a href="#">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </th>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-2">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__item">
                        <h5>장바구니</h5>
                        <div class="blog__sidebar__recent basket">
                        </div>
                    </div>
                    <div class="blog__sidebar__item" style="padding: 0px">
                        <h5>TOTAL PRICE</h5>
                        <div class="blog__sidebar__item__categories">
                            <ul class="totalPrice">
                                <li><a>Total <span>0 원</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <button type="submit" class="site-btn order-btn">결제하기</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- Blog Section End -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="product__details__img">
                            <div class="product__details__big__img">
                            </div>
                            <div class="product__details__thumb">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="product__details__text">
                            <div class="product__label">Menu Info</div>
                            <div class="menuInfo">
                            </div>
                            <div class="product__details__option">
                                <div class="quantity">
                                    <div class="pro-qty">
                                        <input type="text" name="qty" value="1">
                                    </div>
                                </div>
                                <div class="addCartBtn">
                                    <button class="heart__btn"><span class="icon_heart_alt"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Js Plugins -->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/jquery.barfiller.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/jquery.slicknav.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.nicescroll.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

<script th:inline="javascript">

    const dqs = document.querySelector.bind(document);

    const dtoList = [[${result.dtoList}]];
    console.log(dtoList)

    const basket = dqs(".basket");
    console.log(basket)

    const menuInfo = dqs(".menuInfo");
    console.log(menuInfo)

    const menuImage = dqs(".product__details__big__img")
    console.log(menuImage)

    const addCartBtn = dqs(".addCartBtn")
    console.log(addCartBtn)

    const totalPrice = dqs(".totalPrice")
    console.log(totalPrice)



    // const actionForm = dqs(".actionForm")
    // console.log(actionForm)

    //const productModal = $("#myModal");


    //주문총액
    let orderPrice = parseInt(0);

    //주문목록
    const output = localStorage.getItem("orderList");

    let orderList = JSON.parse(output)
    console.log(orderList)

    if (orderList == null) {
        console.log("orderList empty")
        orderList = []
    }


    //------------------------------------------------------------------
    //-------------------------장바구니 렌더링----------------------------
    //------------------------------------------------------------------
    function orderRender() {
        if(orderList == null){
            return;
        }
        for (let i = 0; i < orderList.length; i++) {
            //장바구니 추가-----------------------------------------------------
            name = orderList[i].name
            qty = orderList[i].qty
            price = orderList[i].price * qty
            orderPrice += price
            let str = ""
            str += '<div class=\"blog__sidebar__item__categories\">'
            str += '    <ul>'
            str += '        <li><a>' + name + qty + '<span>' + price + ' 원</span></a></li>'
            str += '    </ul>'
            str += '</div>'
            basket.innerHTML += str
            //총액추가----------------------------------------------------------
            total = ""
            total = '<li><a>Total <span>' + parseInt(orderPrice) + ' 원</span></a></li>'
            totalPrice.innerHTML = total
        }
    }orderRender()


    //------------------------------------------------------------------
    //----------------------------메뉴픽업-------------------------------
    //------------------------------------------------------------------
    function pick(dto) {

        const mno = dto.mno;
        console.log(mno)

        axios.get('/kiosk/' + mno + '/menu').then(res => {
            // console.log(res);
            console.log(res.data);
            //const menuDTO = JSON.stringify(res.data);

            // const sno = res.data.sno;
            // const name = res.data.name;
            // const price = res.data.price;
            // const data = {mno, sno, name, price}
            const menuDTO = JSON.stringify(res.data);
            console.log(menuDTO);
            // console.log(res.data.name);
            // res.data.imageDTOList.forEach(image => {
            //     console.log(image.uuid)
            //     console.log(image.fileName)
            //     console.log(image.link)
            // });

            //menuInfo.innerHTML = "";
            //menuImage.innerHTML = "";
            let str = ""

            str += '<h4>' + res.data.name + '</h4>'
            str += '<h5>' + res.data.price + ' ₩</h5>'
            str += '<p>' + res.data.explanation + '</p>'
            str += '<ul>'
            //str += '    <li>SKU: <span>17</span></li>'
            //str += '    <li>Tags: <span>Gadgets, minimalisstic</span></li>'
            //str += '    <li>Category: <span>Biscuit cake</span></li>'
            str += '</ul>'

            menuInfo.innerHTML = str;

            let imageStr = "";

            res.data.imageDTOList.forEach(image => {
                console.log(image.link)
                imageStr += '<img class="big_img" src="/view?fileName=' + image.link + '" alt="">'

                menuImage.innerHTML = imageStr;
            })

            let btnStr = ""

            btnStr += '<button onclick=choice(' + mno + ') class="primary-btn">Add to cart</button>'

            addCartBtn.innerHTML = btnStr
        })

        $("#myModal").modal('show');
    }

    //------------------------------------------------------------------
    //-------------------------장바구니 추가------------------------------
    //------------------------------------------------------------------
    function choice(mno) {
        //console.log("aaa");
        console.log(mno);

        const qty = dqs("input[name='qty']").value
        console.log(qty)

        //고른 수량이 0일경우 리턴
        if (qty == 0) {
            $("#myModal").modal('hide');
            return;
        }

        //console.log(dtoList[0].mno);
        let name = "";
        let price = parseInt(0);

        for (let i = 0; i < dtoList.length; i++) {
            if (dtoList[i].mno === mno) {
                console.log(dtoList[i].mno + "---------------------");
                console.log(dtoList[i].imageDTOList[0].link)

                imageLink = dtoList[i].imageDTOList[0].link
                name = dtoList[i].name
                price = dtoList[i].price * qty
                menuPrice = dtoList[i].price

                orderList.push({name, qty, price, menuPrice, imageLink});
                console.log(orderList)
            }
        }

        //console.log(name)

        let str = ""
        str += '<div class=\"blog__sidebar__item__categories\">'
        str += '    <ul>'
        str += '        <li><a>' + name + qty + '<span>' + price + ' 원</span></a></li>'
        str += '    </ul>'
        str += '</div>'
        basket.innerHTML += str

        //주문총액
        orderPrice += price

        total = ""
        total = '<li><a>Total <span>' + parseInt(orderPrice) + ' 원</span></a></li>'
        totalPrice.innerHTML = total



        $("#myModal").modal('hide');
    }


    //------------------------------------------------------------------
    //-------------------------결제로 이동-------------------------------
    //------------------------------------------------------------------
    dqs(".order-btn").addEventListener("click", function () {



        console.log(orderList)
        if (orderList.length === 0) {
            alert("장바구니가 비었습니다")
            return;
        }

        const storeName = {store: [[${store}]]}
        console.log(storeName)
        //배열 첫번째(가게이름), 마지막에(총액) 추가
        orderList.unshift(storeName)
        orderList.push(orderPrice)

        //console.log(orderList)

        localStorage.setItem("orderList", JSON.stringify(orderList));

        location.href = '/kiosk/payment'

    }, false)

</script>

</html>